<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ test }}</title>
</head>
<body>
    <h2><a href="{% url 'home' %}">HOME</a></h2>
    <h1>Поиск вакансий и резюме по Москве и др городам</h1>
    <h1>{{ test }}</h1>

    <form action="{% url 'search_vacancy' %}" method="get">
		<input name="q" placeholder="Введите должность..."
			value="{{ search_text }}">
	</form>

    {% if inf %}
        {% if type == 'vac' %}
        <p>ВАКАНСИИ / <a href="{% url 'search_resume' %}?q={{ test }}">РЕЗЮМЕ</a></p>
        {% else %}
         <p><a href="{% url 'search_vacancy' %}?q={{ test }}">ВАКАНСИИ</a> / РЕЗЮМЕ</p>
        {% endif %}
    {% endif %}

    {% if old %}
        {% if type == 'vac' %}
            Данные загружены из БД <a href="{% url 'search_vacancy' %}?q={{ test }}&new=1"><button>Обновить данные</button></a>
        {% else %}
            Данные загружены из БД <a href="{% url 'search_resume' %}?q={{ test }}&new=1"><button>Обновить данные</button></a>
        {% endif %}
    {% endif %}

    {% for vac in inf %}
    <h3>{{ vac.title }}</h3>
    <p>{{ vac.price }}</p>
    <p>{{ vac.desc }}</p>
    <p>{{ vac.loc }}</p>
    <hr>
    <p></p>
    {% endfor %}
</body>
</html>